@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --zinc-950: #09090b;
    --zinc-800: #27272a;
    --zinc-100: #f4f4f5;
    --violet-500: #8b5cf6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 62.5% 'Roboto Slab', serif;
    transition: .5s color;
    color: var(--zinc-100);
    text-decoration: none;
}