@media (max-width: 585px) {
    body {
        padding: 4rem 4rem 2.4rem;
    }

    header {
        align-self: center;
    }

    .card {
        padding: 4.8rem 3.2rem;
    }

    .card label, .input input, .output-link .short-link {
        font-size: 1.8rem;
    }
}

@media (max-width: 380px) {
    body {
        padding: 4rem 0 2.4rem;
    }

    header > h1, header > h1 > i {
        font-size: 3.2rem;
    }

    .card {
        padding: 2.4rem;
    }

    .input button {
        padding: .8rem;
    }

    .input button i {
        font-size: 1.8rem;
    }

    .card > .input-link > .input, .output-link .short-link {
        max-width: 28rem;
        padding: .8rem;
    }

    .input input {
        padding: 0;
    }

}

@media (max-width: 335px) {
    .card {
        padding: 2.4rem 1.2rem;
    }
}